*, *::before, *::after {
    box-sizing: border-box;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);

    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);  
}
html {
    background-color: var(--cream);
}

main {
    font-family: "Montserrat", serif;
    background-color: var(--white);
    width: calc(100% - 2rem);
    height: auto;

    margin: 0 auto;
    overflow: hidden; 
}

.product-image {
    width: 100%;
    block-size: auto;
    object-fit: contain;
}

h1 {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    font-weight: 300;
}

.product-info {
    padding: 1rem;
}

.product-descriptor {
    font-family: "Fraunces", serif;
}

.grey-font {
    color: var(--grey);
}

.green-font {
    color: var(--green-500);
}

.discounted-price {
    font-size: .8rem;
    text-decoration: line-through;
    margin-top: 1.8em;
}

.price {
    display: flex;
    align-self: center;

    gap: 1rem;
}

button {
    background-color: var(--green-500);
    color: var(--white);
    width: 100%;

    margin: 0 auto;
    
    border-color: var(--green-500);
    border-radius: 0.3rem;

    padding-left: .5rem;
}

button:focus-visible {
    color: var(--green-700);
}

button:hover {
    transition: background-color 0.2s ease, transform 0.2s ease;
    transform: translateY(-2px); 
    background-color: hsl(158, 36%, 20%);
}

@media (min-width: 641px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main {
        display: flex;
        max-width: 35%;
        min-width: 30rem;
        border-radius: 1rem;
        height: 45%;
    }    

    .product-info {
        width: 60%;
    }

    .product-image {
        block-size: auto;
        object-fit: cover;
        height: 100%;
    }
}